<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.assignment.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (name, userName, email, password, salt, createUser, createTime, updateUser, updateTime
        ) VALUES (
        #{name} , #{userName}, #{email}, #{password}, #{salt}, #{createUser}, #{createTime}, #{updateUser},
        #{updateTime}
        )
    </insert>
    <select id="getUser" resultType="com.example.assignment.entity.User">
        SELECT * FROM user WHERE userName = #{userName} OR userId = #{userId}
    </select>
    <delete id="deleteUser">
        DELETE FROM user WHERE userId = #{userId}
    </delete>
</mapper>